/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
    
  }
  
  :root {
    --main-color:white;
    --bg-color:#3a3d40;
    --azulcito:#508AD3;
    }

    /*navbar*/
div button  {
    margin:5px;
    
}

.btn-redes {

border-radius: 5px;
font-size: 25px;

}

.btn-login {
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: 900; 
    font-family: 'IBM Plex Mono', monospace;
    
}

.btn-login, .btn-redes {
    background-color:var(--bg-color);
    color: var(--main-color);
}
.btn-login:hover,.btn-redes:hover {
    -webkit-box-shadow: 0px 0px 12px 4px var(--azulcito); 
    box-shadow: 0px 0px 12px 4px var(--main-color);
}

.btn-login:hover,.btn-redes:hover,.nav-item:hover  {
    text-shadow: 0px 0px 9px var(--azulcito);
    transform: scale(1.1);
}

.nav-item {
font-size: 15px;
font-family: 'IBM Plex Mono', monospace;
font-weight: bold;
}
/*fin navbar*/


.bg {
    text-align: center;
    padding:10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(4px);
    
}

.home {
    background-image: url(img/banner1.jpg);
}

div h1 {
    color:var(--main-color);
    font-weight: bold;
    /*border:3px solid #f1f1f1;*/
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 0px 0px 9px var(--azulcito);

 /*animacion de tipeo */
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 32ch;

    animation: typing 4s steps(32),
    blink .4s infinite step-end alternate;

    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% {border-color: transparent}
}
 
.degradado-gris {
    background-color: var(--bg-color);
    background-image: linear-gradient(62deg, var(--bg-color) 0%, #181719 100%);
}

.escala-seccion {
    width: 100%;
    height: 100vh;
}

/*Sección Sobre mi*/
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle; 
}

.perfil {
    width: 50%;
    position: relative;
    left: 100px;
}


.tarjeta {
    display: flex;
    align-items: left;
    justify-content:flex-start;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    color: var(--main-color);


}

.titulo {
    margin-bottom: 30px;
    font-size: 100px; 
    font-weight: bold;
}


.presentacion {
    text-shadow: 0px 0px 9px var(--azulcito);
    font-style:italic;
    font-weight: bold;
}

/*Fin Sección Sobre Mi*/

/*Sección educación*/
.educacion-section {
    background-color: var(--main-color);
    color: var(--bg-color);
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    height: 100vh;
    
    
 }

 .container-education {
    position: relative;
}

.container__line {
    border-right: 2px solid var(--bg-color);
    left: 16px;
    position: absolute;
    top: 0px;
    height: 100%;
    
}

.container__items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container__item {
    margin-bottom: 8px;
}

.container__top {
    align-items: center;
    display: flex;
}

.container__circle {
    background-color: var(--bg-color);
    border-radius: 9999px;
    height: 32px;
    width: 32px;
}

.container__title {
    flex: 1;
}

.container__desc {
    margin-left: 48px;
}
/* Fin Sección educación*/

/*Sección experiencia*/

.experience-section {

}



footer {
    padding:20px 0;
    color:var(--main-color);
    margin-top:40px;
    text-align: center;
}


